
<h1>Capítulos</h1>

<div class="list_cards">

  <div class="card">
    <h2><%= link_to 'Capítulo 1: Madrid, qué bien resistes', '/sandbox/card' %></h2>
  </div>

  <div class="card">
    <h2><%= link_to 'Capítulo 1: Madrid, qué bien resistes', '/sandbox/card' %></h2>
  </div>

  <div class="card">
    <h2><%= link_to 'Capítulo 1: Madrid, qué bien resistes', '/sandbox/card' %></h2>
  </div>
    
</div>