
<div class="card clearfix">

  <div class="text_content">
    <h1>Mmm... esta página no existe todavía</h1>
  </div>

  <div class="main_text text_content">
    <p>La página <strong><%= @potential_title %></strong> no existe todavía. <%= link_to '¿Quieres crearla?', new_card_path(@potential_title) %></p>
  </div>

</div>